@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: #000000;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  padding: 0 8px;
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 26px 0;
}

.container__header,
.header__nav,
.header__nav-left,
.header__nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo-link {
  height: 41px;
}

.logo {
  width: 100px;
  height: 40.5px;
}

.header__nav {
  max-width: 470px;
  margin-left: 15px;
  /* padding: 0 10px; */
}

.header__nav-left {
  max-width: 134px;
  gap: 10px;
}

.header__nav-right {
  max-width: 221px;
}

.link {
  display: flex;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.75);
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  gap: 10px;
}

.link:hover {
  color: #ffffff;
}

.header__btn {
  width: 121px;
  height: 40px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  background: #0059c1;
  border: none;
  border-radius: 12px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__btn:hover {
  background: #026ee9;
}

.hero {
  margin-bottom: 32px;
}

.container__hero {
  max-width: 1274px;
  height: 595px;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.19%, #000000 100%),
    url("./image/hero__bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

.hero__block {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
  padding-top: 340px;
}

.hero__block-signature {
  max-width: fit-content;
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.range {
  max-width: 500px;
  width: 100%;
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.5);
  height: 1px;
}
.range__current {
  width: 100px;
  height: 1px;
  background-color: #e3b100;
  z-index: 50000;
}

.play {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2.5px);
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.play__icon:hover {
  background: rgba(255, 255, 255, 0.2);
}

.play__icon svg {
  margin-left: 3px;
}

.play__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
}

.original__header {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 24px;
  color: #ffffff;
}

.original__content {
  position: relative;
  height: 300px;
}

.cards {
  display: flex;
  max-width: 1590px;
  position: absolute;
  top: 0;
  left: 0;
  column-gap: 24px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 10000;
}
.cards::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
}

.card__image {
  width: 210px;
  height: 300px;
  border-radius: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
}

.card__content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 20px;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

.card__rating-rate {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #e3b100;
}

.card__rating-date,
.card__season {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.card__season {
  font-size: 14px;
  margin-bottom: 7px;
}

.card__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 6px;
}

.card__about {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #e8e8e8;
  margin-bottom: 48px;
}

.card__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  width: 170px;
  height: 38px;
  background: #0059c1;
  border-radius: 12px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.card__btn-icon {
  height: 14px;
  width: 11px;
}

.card__btn:hover {
  background: #0060ce;
}

.card:hover .card__image {
  transition: all 0.3s ease-in-out;

  filter: blur(5px);
  z-index: 10;
}
.card:hover .card__content {
  display: block;
}

.subsription {
  padding: 81px 0 32px 0;
}

.subsription__content {
  display: flex;
}

.subsription__header {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 24px;
}

.item__header {
  text-align: center;
  margin-top: 32px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 35px;
  color: #ffffff;
}

.item {
  width: 502px;
  height: 296px;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(0, 89, 193, 0.7) 0%,
    rgba(13, 0, 123, 0.7) 100%
  );
  border: 1px solid rgba(0, 89, 193, 0.5);
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.item__list {
  color: #ffffff;
  padding-left: 56px;
}

.item__list-item {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-bottom: 16px;
}

.item__btns {
  display: flex;
  align-items: baseline;
  justify-content: end;
  gap: 10px;
  margin-right: 32px;
  margin-top: 32px;
}

.btn__yellow,
.btn__def {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  width: 147px;
  height: 40px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
}
.btn__yellow {
  background: #e38b00;
  transition: all 0.3s ease-in-out;
}
.btn__yellow:hover {
  background: #ff9d00;
}

.btn__def {
  background: #060644;
  border: 1px solid #e38b00;
  transition: all 0.3s ease-in-out;
}

.btn__def:hover {
  background: #0c0c7a;
  border: 1px solid #e38b00;
}

.item-left {
  margin-right: -130px;
  opacity: 0.25;
  background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.7) 100%);
  border-radius: 12px;
}

.item-right {
  margin-left: -130px;
  opacity: 0.25;
  background: linear-gradient(90deg, #000000 0%, rgba(13, 0, 123, 0.7) 100%);
  border-radius: 12px;
}

.item-center {
  z-index: 1;
  margin-left: 12px;
}

.item:hover {
  z-index: 2;
}

.item:not(.item-center):hover {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  background: linear-gradient(
    90deg,
    rgba(0, 89, 193, 0.7) 0%,
    rgba(13, 0, 123, 0.7) 100%
  );
}

.signin {
  background-image: url(./image/bg_sign_in.png);
  background-repeat: no-repeat;
  background-position: 50% 65%;
  /* opacity: 0.1; */
}

.signin__account {
  max-width: 734px;
  width: 100%;
  margin: 0 auto;
}

.signin-header {
  padding-top: 24px;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 12px;
}

.signin-subheader {
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 32px;
}

.signin__account-subhader {
  margin-bottom: 25px;
}

.signin__cards {
  display: flex;
  gap: 35px;
  justify-content: center;
  margin-bottom: 32px;
}

.signin__card {
  position: relative;
  max-width: 502px;
  width: 100%;
  height: 250px;
  color: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(0, 89, 193, 0.5) 0%,
    rgba(13, 0, 123, 0.5) 100%
  );
  border-radius: 12px;
}

.signin__card-choice {
  position: absolute;
  top: -5%;
  right: -2%;
}

.signin__card-info {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  align-items: center;
}

.signin__card-type {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  text-transform: capitalize;
}
.signin__card-price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.signin__card-promo {
  max-width: 490px;
  width: 100%;
  padding: 0 32px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.signin__card-btn {
  display: block;
  position: absolute;
  bottom: 30px;
  right: 32px;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  background: #e38b00;
  border-radius: 12px;
  text-transform: capitalize;
  padding: 9px 16px;
  outline: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.account__naming {
  display: flex;
  gap: 30px;
}

.input {
  outline: none;
  background: #000000;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding-bottom: 12px;
  border-bottom: 2px solid #d9d9d9;
  transition: all 0.3s ease-in-out;
}

.input-name,
.input-surname {
  display: flex;
  max-width: 350px;
  width: 100%;
  gap: 32px;
}

.input-email,
.input-password {
  width: 100%;
}

.input-name,
.input-surname,
.input-email {
  margin-bottom: 24px;
}

.input:focus {
  border-bottom: 2px solid #e38b00;
}

.signin__check-block {
  margin: 19px 0 32px 0;
  display: flex;
}

.spam {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.5);
}

.create__btn {
  background: #0059c1;
  border-radius: 12px;
  width: 100%;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 11px 0;
  cursor: pointer;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 16px;
  transition: all 0.3s ease-in-out;
}

.create__btn:hover {
  background: #026ee9;
}

.privacy {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

.privacy span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #e38b00;
  cursor: pointer;
}

#checkbox-spam {
  opacity: 0;
  display: none;
}

#checkbox-spam ~ label::before {
  content: "";
  text-align: center;
  color: white;
  line-height: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 0.25em;
  margin: 0.25em;
  display: inline-block;
}
#checkbox-spam:checked ~ label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  border: 1px solid #e38b00;
}
